name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"    # misal sehari sekali
  workflow_dispatch:
  push:
    branches: ["main", "master"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          template: classic
          # aktifkan plugin languages
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_colors: github
          plugin_languages_sections: most-used
          plugin_languages_threshold: 2%
